:root{

}

body {
    font-family: "Roboto", sans-serif;
}
 
.list {
    list-style: none;
}

.link{
text-decoration: none;
}

.header{
    background-color: #212121;
}
.header-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
}    

.main{
    background: #E5E5E5;
}